.cabecalho {
    z-index: 100;
    left: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    background: #000000;
}

.cabecalho .nome {
    font-weight: bold;
    font-size: 50px;
    margin-left: 5vw;
    line-height: 75px;
    text-align: center;
    height: 100%;
}

.cabecalho .center {
    margin: auto;
    padding-top: 25px;
    height: 100%;
    width: 100px;
}

.cabecalho .icons {
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
}