.jogo {
    margin: 50px auto;
    width: 30vw;
}

.resultado-jogo {
    margin: auto auto;
    font-size: 5vw;

    color: #000;
    font-weight: bold;
}



.row-jogo {
    display: flex;
}

.nome-campeonato {
    text-align: center;
    font-size: 2vw;

    font-weight: bold;

    color: #000;
}


.data-jogo {
    text-align: center;
    font-size: 2vw;

    color: #000;
}

.logo-times {
    height: 8vw;
    width: 8vw;
}

@media only screen and (max-width: 600px) {
    .nome-campeonato {
        font-size: 25px;
    }

    .data-jogo {
        font-size: 20px;
    }

    .jogo {
        width: 50vw;
    }

}