.formulario {
    margin-left: auto;
    margin-right: 10vw;
    background-color: #FFF;
    width: 500px;
    color: black;
    border: 1px solid #000;
    border-radius: 25px;

}

@media only screen and (max-width: 600px) {
    .formulario {
        width: 100%;
        border: none;
        border-radius: 0;
        margin-top: -25px;
        margin-bottom: 0;

        padding-top: 10px;
        padding-bottom: 25px;
    }
}

.form-campo {
    margin: 10px 30px;
}

input[type=email],
input[type=text],
input[type=number] {
    width: 100%;
    border: 1px solid #000;
    border-radius: 100px;
    height: 40px;
    padding: 0 10px;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=submit] {
    width: 100%;
    border: none;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    border-radius: 100px;
    height: 40px;
}

input[type=file] {
    display: none;
}

label {
    font-size: 20px;
    width: 100%;
    margin-right: 20%;
}

.center {
    margin: auto 0;
}

.file {
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: -20px;
}

body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../img/logo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0, 10%, 10%;
    background-size: 100%, 500px;
}